@model IEnumerable<ToDoApp.Models.Task>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@foreach (var item in Model)
{
    <li>
        @Html.DisplayFor(modelItem => item.TaskDone)
        @Html.ActionLink(Html.DisplayFor(modelItem => item.TaskName).ToString(),
                                         "Edit", new { id = item.TaskID })
        @*Html.DisplayFor(modelItem => item.TaskName)*@
        @Html.DisplayFor(modelItem => item.DueDate)

        @*Html.ActionLink("Delete", "Delete", new { id = item.TaskID })*@

        <a href="@Url.Action("Delete", new { id = item.TaskID })" class="btn btn-xs btn-danger">
            <span class="glyphicon glyphicon-remove"><span class="text-hide">Delete</span></span>
        </a>
        
</li>
}
