@model IEnumerable<ToDoApp.Models.Task>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<ul>
@foreach (var item in Model)
{
    <li>
        @*Html.DisplayFor(modelItem => item.TaskDone)*@

        <form method="post" action="@Url.Action("MarkDone", new { id = item.TaskID })">
            <button>
                @if (item.TaskDone)
                {
                    <span class="glyphicon glyphicon-check"></span>
                }
                else
                {
                    <span class="glyphicon glyphicon-unchecked"></span>
                }
            </button>
        </form>

        @Html.ActionLink(Html.DisplayFor(modelItem => item.TaskName).ToString(),
                                         "Edit", new { id = item.TaskID })
        @*Html.DisplayFor(modelItem => item.TaskName)*@
        @Html.DisplayFor(modelItem => item.DueDate)

        @*Html.ActionLink("Delete", "Delete", new { id = item.TaskID })*@

        <a href="@Url.Action("Delete", new { id = item.TaskID })" class="btn btn-xs btn-danger">
            <span class="glyphicon glyphicon-remove"><span class="text-hide">Delete</span></span>
        </a>
        
    </li>
}
</ul>
